{% extends "feed/base.html" %}
{% block content %}
 <h1>Top Posts</h1>
{% for i in post %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ i.author }}</a>
            </div>
            <h2> <a class="nav-item nav-link"  href="{% url 'details' details.id">{{ i.title }}</a></h2>
            <p class="article-content">{{ i.content }}</p>
          </div>
        </article>
{% endfor %}
{% endblock content %}