{% extends "feed/base.html" %}
{% block content %}
 <h1>Your Posts</h1>

        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <small class="text-muted">{{ post_detail.content }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'details' post_detail.id %}">{{post_detail.title}}</a></h2>
            <p class="article-content">{{ post_detail.content }}</p>
          </div>
        </article>
{% endblock content %}